.favorite-img{
  width: 20px;
}

.product-page-container {
  margin: 10px 30px 30px 0px;
  padding: 0 50px;
}


.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;
}

.btn-filters{
  margin: 20px 0;
  background: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  width: 40%;
  &:hover {
    background: #fff;
  color: $primary-color;
  }
}

.products-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px;

  li {
    list-style: none;
  }
}

.item-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  font-size: 14px;
  margin: 25px;

  a {
    text-decoration: none;
  }
}

.item-container h5 {
  margin-top: 10px;
  font-size: 14px;
}

.item-container img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.item-container .favorite-img{
  width: 20px;
  height: 20px;
}
.star {
  
}