body{
  background-color:#F6F6F6,
}

.box-container-1 {
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.box-container-2 {
  background-color: white;
  border-radius: 20px;
  h4{
    padding: 20px;
    font-size: 1.2em;
    color: #D1B5AF;
  }
}

.profile-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: #E4E3DF solid 1px;
  margin-top: 40px;
  object-fit: fill;
}

.center-img {
  align-items: center;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 30px;
  
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
}

.btn {
  border: 2px solid #D1B5AF;
  color: #D1B5AF;
  background-color: white;
  width: 150px;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  &:hover {
    color: #D1B5AF;
  }
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}



