/* color
grey: #7E7F82
darkpintk: #D1B5AF
pink: #F5E3E0
lightgrey:#E4E3DF
greyblue: #D1D2D4 
rosa:#F19D94 */

$primary-color: #F19D94;

@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '_profile.scss';
@import '_products.scss';
@import '_nav.scss';
@import '_auth.scss';
@import '_home.scss';
@import '_form.scss';
@import '_productDetail.scss';

*{
  box-sizing: border-box;
}

body {
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: $primary-color;
  &:hover{
    color: #7E7F82;
  }
  
}




// .profile-container {
//   display: flex;
//   flex-flow: row;
//   background-color: grey;
//   border-radius: 10px;
// }


// .prueba{
//   display: flex;
//   flex-flow: row;
// }