/* color
grey: #7E7F82
darkpintk: #D1B5AF
pink: #F5E3E0
lightgrey:#E4E3DF
greyblue: #D1D2D4 */
@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  background-color: #F6F6F6; }

.box-container-1 {
  background-color: white;
  border-radius: 20px;
  text-align: center; }
  .box-container-1 h2 {
    padding-top: 30px;
    font-size: 2em;
    color: #7E7F82; }

.box-container-2 {
  background-color: white;
  border-radius: 20px; }
  .box-container-2 h4 {
    padding: 20px;
    font-size: 1.2em;
    color: #D1B5AF; }

.profile-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: #E4E3DF solid 1px;
  margin-top: 30px;
  object-fit: fill; }

.center-img {
  align-items: center; }

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 30px 0; }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden; }

.btn {
  border: 2px solid #D1B5AF;
  color: #D1B5AF;
  background-color: white;
  width: 150px;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold; }
  .btn:hover {
    color: #D1B5AF; }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

.favorite-img {
  width: 20px; }

.products-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row; }

.item-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  font-size: 14px;
  margin: 25px; }

.item-container h5 {
  margin-top: 10px;
  font-size: 14px; }

.item-container img {
  width: 200px;
  height: 150px;
  object-fit: fill; }

.item-container .favorite-img {
  width: 20px;
  height: 20px; }

nav {
  margin: 10px; }

.nav-link {
  color: #D1B5AF; }
  .nav-link:hover {
    color: #7E7F82; }

#form-container {
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  margin: 30px auto;
  width: 420px; }

#form-container h2 {
  font-size: 3em;
  color: #F5E3E0;
  padding: 10px; }

#form-container label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center; }

#form-container input,
#form-container button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-container button {
  background: #F5E3E0;
  border: 1px solid #F5E3E0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }
  #form-container button:hover {
    background: #fff;
    color: #F5E3E0;
    transition: .3s ease background; }

* {
  box-sizing: border-box; }

body {
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

a {
  color: #00B7FF; }
  a:hover {
    color: pink; }

.newProduct {
  display: flex;
  flex-flow: column;
  width: 300px; }

.newProduct button {
  margin-top: 10px;
  background-color: lightblue; }

.profile-container {
  display: flex;
  flex-flow: row;
  background-color: grey;
  border-radius: 10px; }

.prueba {
  display: flex;
  flex-flow: row; }

/*# sourceMappingURL=style.css.map */