@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  padding: 50px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #00B7FF;
  
}

.newProduct {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.newProduct button {
  margin-top: 10px;
  background-color: lightblue;
}