/* color
grey: #7E7F82
darkpintk: #D1B5AF
pink: #F5E3E0
lightgrey:#E4E3DF
greyblue: #D1D2D4 
rosa:#F19D94 */
@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
  background-color: #F6F6F6; }

.box-container-1 {
  background-color: white;
  border-radius: 20px;
  text-align: center; }
  .box-container-1 h2 {
    padding-top: 30px;
    font-size: 2em;
    color: #F19D94; }

.box-container-2 {
  background-color: white;
  border-radius: 20px; }
  .box-container-2 h4 {
    padding: 20px;
    font-size: 1.2em;
    color: #F19D94; }

.profile-img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: #E4E3DF solid 1px;
  margin-top: 30px;
  object-fit: cover; }

.center-img {
  align-items: center; }

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 30px 0; }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden; }

.btn {
  border: 2px solid #F19D94;
  color: #F19D94;
  background-color: white;
  width: 150px;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold; }
  .btn:hover {
    color: #D1B5AF; }

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

.favorite-img {
  width: 20px; }

.product-page-container {
  margin: 30px 30px 30px 0px;
  padding: 0 50px; }

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px; }

.item-container {
  display: flex;
  width: 200px;
  flex-direction: column;
  font-size: 14px;
  margin: 25px; }

.item-container h5 {
  margin-top: 10px;
  font-size: 14px; }

.item-container img {
  width: 200px;
  height: 150px;
  object-fit: cover; }

.item-container .favorite-img {
  width: 20px;
  height: 20px; }

nav {
  margin: 10px; }

.nav-link {
  color: #F19D94; }
  .nav-link:hover {
    color: #7E7F82; }

#form-container {
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  margin: 30px auto;
  width: 420px; }

#form-container h2 {
  font-size: 3em;
  color: #F19D94;
  padding: 10px; }

#form-container label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center; }

#form-container input,
#form-container button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-container button {
  background: #F19D94;
  border: 1px solid #F19D94;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }
  #form-container button:hover {
    background: #fff;
    color: #F19D94;
    transition: .3s ease background; }

.carousel {
  width: 100%;
  height: 500px;
  margin: 0 auto; }

.carousel img {
  width: 100%;
  height: 500px;
  object-fit: cover; }

.index-container {
  color: #F19D94;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  background-color: white;
  border-radius: 20px; }

.index-container h1 {
  padding: 30px 20px; }

.index-container h4 {
  padding: 10px 0px 30px 0px; }

#form-container2 {
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  margin: 30px auto;
  width: 550px; }

#form-container2 h2 {
  font-size: 3em;
  color: #F19D94;
  padding: 10px; }

#form-container2 label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 20px; }

#form-container2 input,
#form-container2 .btn3 {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-container2 .btn3 {
  margin-top: 10px;
  background: #F19D94;
  border: 1px solid #F19D94;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%; }
  #form-container2 .btn3:hover {
    background: #fff;
    color: #F19D94;
    transition: .3s ease background; }

.upload-btn-wrapper2 {
  position: relative;
  overflow: hidden; }

.btn2 {
  border: 2px solid #F19D94;
  color: #F19D94;
  background-color: white;
  width: 130px;
  padding: 5px 8px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 30px; }

.upload-btn-wrapper2 input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0; }

.box-container-product {
  background-color: white;
  border-radius: 20px;
  margin: 20px; }
  .box-container-product img {
    width: 200px; }
  .box-container-product h1 {
    margin: 20px;
    color: #F19D94; }

.tag {
  display: inline-block; }

.text-Style {
  text-align: justify;
  padding-right: 50px; }

* {
  box-sizing: border-box; }

body {
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif; }

a {
  color: #F19D94; }
  a:hover {
    color: #7E7F82; }

/*# sourceMappingURL=style.css.map */